.homepage {
  background-color: #EAEDED;
}

.header1 {
  text-align: center;
}

.header2 {
  text-align: center;
}

.choosewalker {
  text-align: center;
}

.walker .walker_name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size:20px;
  font-weight: bold;
}

.banner {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:1px;
  border:1px solid #021a40;
}
* {
  text-decoration: none;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
